
@{
    ViewData["Title"] = "VerifyEmail";
    Layout = "~/Views/Shared/_AccessoriesLayout.cshtml";
}

<div class="container">

    <div class="alert alert-success" role="alert">
        
        Please check your Email Balam!
    </div>
</div>

